@import 'colors.css';
/* variable */
body {
  background-color: white;
}
p.textOne {
  width: 100px;
  height: 100px;
  background-color: #C2185B;
}
/* variable interpolation */
p.textTwo {
  width: 100px;
  height: 100px;
  background-color: #448AFF;
}
/* map variable*/
span {
  width: 100px;
  height: 100px;
}
ul {
  background-color: blue;
}
ul li {
  background-color: red;
}
